<div class="container">
  <button
    mat-flat-button
    color="primary"
    class="user-action-btn"
    (click)="toggleUserModal()"
  >
    New User
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name.</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let element">{{ element.company.name }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.address.city }}</td>
    </ng-container>

    <ng-container matColumnDef="todosCount">
      <th mat-header-cell *matHeaderCellDef>Todos Count</th>
      <td mat-cell *matCellDef="let element">{{ element.todoCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<app-modal [isOpen]="isUserModalOpen">
  <div class="modal-wrapper">
    <button
      mat-icon-button
      class="modal-close"
      color="secondary"
      (click)="toggleUserModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <header class="modal-header">
      <h3 class="header-title">Create User</h3>
    </header>
    <hr class="modal-divider" />
    <div class="modal-content">
      <form [formGroup]="newUser" (submit)="addUser()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="name"
          />
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            Please enter a <strong>valid</strong> name.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="example@example.com"
            formControlName="email"
          />
          <mat-error *ngIf="email.errors?.email && !email.errors?.required">
            Please enter a <strong>valid</strong> email.
          </mat-error>
          <mat-error *ngIf="email.errors?.required">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
          <input
            type="tel"
            matInput
            placeholder="5432157890"
            formControlName="phone"
          />
          <mat-error *ngIf="phone.errors?.pattern || email.errors?.required">
            Please enter a <strong>valid</strong> phone number.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input
            matInput
            type="text"
            placeholder="City"
            formControlName="city"
            [matAutocomplete]="auto"
            (change)="citySelect($event.option.value)"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let user of userList"
              [value]="user.address.city"
            >
              {{ user.address.city }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
            Please enter a <strong>valid</strong> city.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Zipcode</mat-label>
          <mat-select formControlName="zipcode" name="zipcode">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let user of userList"
              [value]="user.address.zipcode"
            >
              {{ user.address.zipcode }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!newUser.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</app-modal>
