<div class="container">
  <button
    class="todos-action-btn"
    mat-flat-button
    color="primary"
    (click)="toggleTodoModal()"
  >
    New Todo
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Completed</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.completed" mat-icon-button color="primary">
          <mat-icon>done_all</mat-icon>
        </button>
        <button *ngIf="!element.completed" mat-icon-button color="accent">
          <mat-icon>not_interested</mat-icon>
        </button>
        <!-- Displaying completion status with a text instead of buttons. -->
        <!-- {{ element.completed ? "Completed" : "Not Completed" }} -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<app-modal [isOpen]="isTodoModalOpen">
  <div class="modal-wrapper">
    <button
      mat-icon-button
      class="modal-close"
      color="secondary"
      (click)="toggleTodoModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <header class="modal-header">
      <h3 class="header-title">ADD TODO</h3>
    </header>
    <hr class="modal-divider" />
    <div class="modal-content">
      <form [formGroup]="newTodo" (submit)="addTodo()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <mat-select formControlName="username" name="username">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let user of userList" [value]="user.username">
              {{ user.username }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="username.invalid && (username.dirty || username.touched)"
          >
            Please enter a <strong>valid</strong> name.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            placeholder="Title"
            formControlName="title"
          />
          <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
            Please enter a <strong>valid</strong> and
            <strong>at least</strong> 20 characters long title.</mat-error
          >
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!newTodo.valid || !newTodo.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</app-modal>
